.certificat {
    position: relative;
    display: none;


    &.active {
        display: block;
    }

    &__box-drop {
        border-bottom: 1px solid grey;

    }

    &__box {
        border-bottom: 1px solid grey;

        .toggle-link {
            cursor: pointer;
        }

        &-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
        }

        &-drop {
            display: none;
        }

        &-pdf {
            display: flex;
            align-items: center;

            img {
                margin-right: 25px;
            }

            span {
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
            }
        }

        &-faqTitle {
            font-family: 'Bai Jamjuree';
            font-size: 21px;
            font-weight: 500;
            line-height: 26px;
            color: #696871;

            &.active {
                color: #000;
                font-weight: 600;

            }
        }

        &-faqText {
            font-family: 'Montserrat', sans-serif;
            font-size: 17px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            opacity: .5;
            padding: 15px 0 22px;
            width: 800px;


        }

        &-link {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #9F2D2D;
            text-decoration: underline;
        }

        &-title {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 31px;
            letter-spacing: 0.005em;
        }
    }

    &__title {
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        padding-bottom: 20px;
    }


}


.faq {

    &__title {
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
    }

    &__subtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        width: 428px;
        margin: auto;
        text-align: center;
        opacity: .5;
        padding-bottom: 20px;


    }
}