/* Add Bootstrap styles here */
/* You can include Bootstrap CSS or use your own styles */

/* Custom styles for the modal */
#openModal{
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

.modal-dialog {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    max-width: 80%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}



.modal-content {
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.modal-title {
    margin: 0;

    font-family: ' Bai Jamjuree', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
}

.modal-body {
    font-family: ' Bai Jamjuree', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
        padding: 20px;
}



.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #ccc;
    color: #333;
}
}
