.tender {
    height: 833px;
    padding: 60px 10px;
    position: relative;
    background-color: rgba(242, 242, 242, 0.37);

    .space-betwwin {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    &__headline {
        width: 780px;
        color: #484848;
        width: 100%;
        left: 10px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            background-color: #9F2D2D;
            width: 2px;
            left: -40px;
        }

        &-link {
            font-family: 'Bai Jamjuree', sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            color: rgba(159, 45, 45, 1);
            text-decoration: none;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(159, 45, 45, 1);
        }

        &-list {
            list-style: none;
            display: flex;

            .active {
                background-color: rgba(72, 72, 72, 1);
                color: #fff;
            }
        }

        &-item {
            font-family: 'Montserrat', sans-serif;
            font-size: 10px;
            font-weight: 500;
            cursor: pointer;
            display: flex;

            align-items: center;
            justify-content: center;
            line-height: 12px;
            letter-spacing: 0em;
            text-align: left;
            margin-right: 20px;
            color: rgba(50, 51, 50, 1);
            width: 80px;
            height: 31px;
            padding: 18px 10px;
            border-radius: 4px;
            background-color: rgba(222, 222, 222, 1);
            transition: all .5s ease-in;

            &:hover {
                background-color: rgba(72, 72, 72, 1);
                color: #fff;
            }

        }

        .info {
            font-family: ' Bai Jamjuree', sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            display: flex;
            color: #A6A6A6;
            align-items: center;


        }

        .title {
            padding-top: 5px;
            font-family: 'Bai Jamjuree', sans-serif;
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
            margin-bottom: 20px;

        }

        .text {
            padding-top: 44px;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 25px;
            letter-spacing: 0.005em;

        }
    }

    &__link {
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        color: #9F2D2D;
        border-bottom: 1px solid #9F2D2D;
        padding-bottom: 10px;
        text-decoration: none;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 138px;
    }

    .slider-prevTender,
    .slider-nextTender {
        cursor: pointer;
        margin: 0 10px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #484848;
        border: 1px solid #484848;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider-prevTender {
        margin-left: 50px;
    }

    .slick-disabled {
        background-color: #F2F2F25E !important;
    }

    .slider-nextTender {
        margin-top: 10px;

    }

    .slider-tender-item {
        margin-top: 70px;

        .item {
            height: 173px;
            width: 265px;
            margin: 10px;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            display: flex;


            &::after {
                content: '';
                width: 2px;
                height: 100%;
                background-color: rgba(224, 224, 224, 1);
                position: absolute;
                right: 0;
            }

            .time {
                font-family: 'Bai Jamjuree', sans-serif;
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                color: rgba(155, 155, 155, 1);
            }

            &__bottom {
                width: 95%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &-title {
                    // width: Hug (140px)
                    // height: Hug (25px)
                    padding: 5px;
                    border-radius: 8px;
                    background-color: #F0E6E5;
                    font-family: 'Bai Jamjuree', sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    letter-spacing: 0em;
                    text-align: left;

                    color: rgba(159, 45, 45, 0.87);
                }

                &-text {

                    font-family: 'Bai Jamjuree', sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 15px;
                    letter-spacing: 0em;
                    text-align: left;
                    text-decoration: none;
                    color: rgba(103, 103, 103, 1);
                }
            }

            p {
                width: 95%;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 17px;
                color: rgba(72, 72, 72, 1);
            }
        }
    }

}

.tenderPage {


    &__title {
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
    }

    &__date {
        span {
            font-family: 'Bai Jamjuree', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 35px;
            color: #909090;
        }
    }

    &__text {
        margin-bottom: 20px;

        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.005em;
        color: #5F605F;

        a {
            display: inline;
            font-weight: 600;
            color: #9F2D2D;
        }
    }

    &__list{
        list-style: auto;
        margin-left: 20px;
        li{
            font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.005em;
        color: #5F605F;
        }
    }



    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;


        .item {
            height: 173px;
            width: auto;
            margin: 10px 10px 67px;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            display: flex;

            a {
                padding-right: 20px;
            }

            &::after {
                content: '';
                width: 1px;
                height: 100%;
                background-color: rgba(224, 224, 224, 1);
                position: absolute;
                right: 0;
            }

            .time {
                font-family: 'Bai Jamjuree', sans-serif;
                font-size: 12px;
                font-weight: 500;
                line-height: 15px;
                color: rgba(155, 155, 155, 1);
                margin-bottom: 24px;
            }

            &__bottom {
                width: 95%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 20px;

                &-title {
                    // width: Hug (140px)
                    // height: Hug (25px)
                    padding: 5px;
                    border-radius: 8px;
                    background-color: #F0E6E5;
                    font-family: 'Bai Jamjuree', sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    letter-spacing: 0em;
                    text-align: left;

                    color: rgba(159, 45, 45, 0.87);
                }

                &-text {

                    font-family: 'Bai Jamjuree', sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 15px;
                    letter-spacing: 0em;
                    text-align: left;
                    text-decoration: none;
                    color: rgba(103, 103, 103, 1);
                }
            }

            p {
                width: 95%;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 17px;
                color: rgba(72, 72, 72, 1);
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .tender {

        .slider-tender-item {
            .item__bottom {
                flex-direction: column;

                &-title {
                    margin-bottom: 20px;
                    font-size: 10px;
                }
            }

            .item {
                height: auto;

                p {
                    font-size: 12px;
                    margin-bottom: 30px;
                }

            }
        }

        &__headline-link {
            margin-top: 50px;
        }

        .slider-prevTender,
        .slider-nextTender {
            right: 50%;
            bottom: 0;
            margin-top: 50px;
            transform: translateX(-50%);
        }

        .slider-prevTender {
            margin-left: 0px;
        }

        .slick-disabled {
            background-color: #F2F2F25E !important;
        }

        .slider-nextTender {
            bottom: -3px;

            right: 40%;
        }
    }
}